@import url('http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css');

body {
  background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
}

.add-note {
  background-color: #fdfdfd;
  border: 1px solid #cccccc;
  margin: 1em;
}

.notes {
  margin: 1em;
  padding-left: 0px;
  max-width: 10em;
  list-style: none;
}

.note {
  overflow: auto;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background-color: #fdfdfd;
  box-shadow: 0 0 0.3em 0.03em rgba(0, 0, 0, 0.3);
}

.note:hover {
  box-shadow: 0 0 0.3em 0.03em rgba(0, 0, 0, 0.7);
  transition: 0.6s;
}

.note .value {
  display: inline-block;
}

.note .editable {
  float: left;
}

.note .delete {
  float: right;
  padding: 0px;
  background-color: #fdfdfd;
  border: none;
  cursor: pointer;
}

.edit {
  max-width: 10em;
  width: 90%;
}

